@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Young+Serif&display=swap");

:root {
  --rose-800: #7a284e;
  --rose-50: #fff7fb;
  --stone-900: #312e2c;
  --stone-600: #5f564d;
  --stone-150: #e3ddd7;
  --stone-100: #f3e5d7;
  --brown-800: #854632;
  --white: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: var(--stone-100);
}

ul,
ol {
  list-style-position: inside;
}

hr {
  border: none;
  border-top: 2px solid var(--stone-150);
  width: 100%;
}

.page-container {
  background-color: var(--white);
  max-width: 375px;
}

.page-image img {
  width: 100%;
}

.page-content {
  display: flex;
  flex-direction: column;

  /* justify-content: center;
  align-items: center; */

  gap: 2rem;
  padding: 32px 40px;
}

.page-details {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page-title {
  font-family: "Young Serif", sans-serif;
  font-size: 2.25rem;
  font-weight: normal;
  line-height: 100%;
  color: var(--stone-900);
}

.page-description {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  color: var(--stone-600);
}

/* PREPARATION */

.page-preparation {
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: var(--stone-600);
}

.page-preparation__title {
  font-weight: 600;
  font-size: 20px;
  line-height: 100%;
  color: var(--rose-800);
}

.page-preparation li {
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
}

.page-preparation li:not(:first-child) {
  padding-top: 8px;
}

.page-preparation li::marker {
  color: var(--rose-800);
}

.bolded {
  font-weight: bold;
}

/* INGREDIENTS */

.page-ingredients {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page-ingredients__title {
  font-family: "Young Serif", sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 100%;
  color: var(--brown-800);
}

.page-ingredients li {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  color: var(--stone-600);
}

.page-ingredients li:not(:first-child) {
  padding-top: 8px;
} 

.page-ingredients li::marker {
  color: var(--brown-800);
}

/* INSTRUCTIONS */

.page-instructions {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page-instructions__title {
  font-family: "Young Serif", sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 100%;
  color: var(--brown-800);
}

.page-instructions li {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  color: var(--stone-600);


}

.page-instructions li:not(:first-child) {
  padding-top: 8px;
}

.page-instructions li::marker {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 150%;
  color: var(--brown-800);
}

/* NUTRITION */

.page-nutrition {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.page-nutrition__title {
  font-family: "Young Serif", sans-serif;
  font-size: 28px;
  font-weight: normal;
  line-height: 100%;
  color: var(--brown-800);
}

.page-nutrition__description {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  color: var(--stone-600);
}

.page-nutrition__info {
  display: flex;
  flex-direction: column;

  gap: 12px;

  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: normal;
  line-height: 150%;
  color: var(--stone-600);
}

.page-nutrition__details {
  display: flex;
  /* justify-content: space-between; */
}

.page-nutrition__type {
  margin-left: 2rem;
  margin-right: 1rem;

  width: 120px;
}

.page-nutrition__amount {
  font-family: "Outfit", sans-serif;
  font-size: 1rem;
  font-weight: bold;
  line-height: 150%;
  color: var(--brown-800);

  width: 120px;
  margin-right: 1rem;
}

@media screen and (min-width: 768px) {
  .page-container {
    max-width: 616px;
    margin: 128px 76px;
    padding: 40px;
    border-radius: 24px;
  }

  .page-content {
    padding: 0;
    margin-top: 24px;
  }

  .page-image img {
    border-radius: 12px;
  }

  .page-preparation {
    padding: 24px;
  }

  .page-nutrition__type,
  .page-nutrition__amount {
    width: 228px;
  }
}

@media screen and (min-width: 1025px) {
  .page-container {
    max-width: 736px;
  }
}
